/*Custom container class*/
@mixin generate-containers($container-max-width) {
  @each $size in $container-max-width {
    $class: nth($size, 1);
    $width: nth($size, 2);

    .container-#{$class} {
      max-width: $width;
      margin-right: auto;
      margin-left: auto;
      width: 100%;
      position: relative;

      @media screen and (min-width:992px) {
        padding-left: 6.718vw;
        padding-right: 6.718vw;
      }

      @media screen and (min-width:1921px) {
        padding-left: 129px;
        padding-right: 129px;
      }
    }
  }
}

$container-max-width: (
  ("sm", 570px),
  ("md", 768px),
  ("lg", 992px),
  ("xl", 1200px),
  ("2xl", 1400px),
  ("3xl", 1920px)
);

@include generate-containers($container-max-width);

$padding-values: (
  0: 0,
  1: 0.25rem,
  2: 0.5rem,
  // Diğer değerleri ekleyebilirsiniz
);

// Temel class
%padding-class {
  padding-right: 0 !important; // veya padding: 0 !important; kullanabilirsiniz
}

// Ekran boyutuna özel mixin
@mixin padding-responsive($size) {
  @media (min-width: $size) {
    @content;
  }
}

// Ekran boyutuna özel class'lar
// Ekran boyutuna özel class'lar
@each $key, $value in $padding-values {
  .pe-#{$key} {
    @extend %padding-class;
  }

  @include padding-responsive(576px) {
    .pe-sm-#{$key} {
      padding-right: #{$value} !important; // veya padding: #{$value} !important; kullanabilirsiniz
    }
  }

  @include padding-responsive(768px) {
    .pe-md-#{$key} {
      padding-right: #{$value} !important;
    }
  }

  @include padding-responsive(992px) {
    .pe-lg-#{$key} {
      padding-right: #{$value} !important;
    }
  }

  @include padding-responsive(1200px) {
    .pe-xl-#{$key} {
      padding-right: #{$value} !important;
    }
  }

  @include padding-responsive(1400px) {
    .pe-xxl-#{$key} {
      padding-right: #{$value} !important;
    }
  }
}


/*Custom Color ve background class*/
$primary: #0f1c44;
$secondary: #ff4200;
$tertiary: #650b77;
$gray :#f2f2f2;

$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "tertiary": $tertiary,
  "gray": $gray
);

@mixin generate-background-classes($colors) {
  @each $name, $color in $colors {
    .bg-#{$name} {
      background-color: $color;
    }
  }
}

@mixin generate-text-classes($colors) {
  @each $name, $color in $colors {
    .text-#{$name} {
      color: $color;
    }
  }
}

@include generate-background-classes($colors);
@include generate-text-classes($colors);

:root {
  --swiper-theme-color:$secondary;
  --swiper-navigation-color:#0f1c44;
  --swiper-navigation-size:26px;
}


/*Standart css style*/
.tansform90 {
  transform: rotate(90deg) !important;
  transition: all .3s linear;
}
.transform45{
  transform: rotate(45deg) !important;
  transition: all .3s linear;
}
.transform23{
  transform: rotate(-23deg) !important;
  transition: all 0.3s linear;
  display: inline-block;
  transform-origin: center center;
}
.transform180{
  transform: rotate(180deg) !important;
  transition: all 0.3s linear;
  display: inline-block;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    transition: all .3s linear;
  }
}

.w-100 {
  width: 100% !important;
}
.h-100{
  height: 100%!important;
}
.d-flex{
  display: flex;
  &.hstack{
    align-items: center;
  }
}

.d-block{
  display: block!important;
}
.icon-instagram{
  font-size: 24px;
  @media screen and (max-width:570px) {
    font-size: 18px;
  }
}
.icon-twitter{
  font-size: 22px;
  @media screen and (max-width:570px) {
    font-size: 18px;
  }
}
.icon-linkedin-2{
  font-size: 25px;
  @media screen and (max-width:570px) {
    font-size: 18px;
  }
}
.preLine{
  white-space: pre-line;
}