.cards {
    &:not(.swiper-wrapper) {
        display: flex;
        flex-wrap: wrap;
        margin: -20px;

        &.type1 {
            .card {
                padding: 20px;
                width: 31%;
                padding: 20px 20px 60px;

                @media screen and (max-width:1280px) {
                    padding: 20px 10px 40px;
                    width: 33.3%;
                }

                @media screen and (max-width:991.98px) {
                    width: 50%;
                }

                @media screen and (max-width:480px) {
                    width: 100%;
                }

                a {
                    padding: 35px 0 0;
                    aspect-ratio: 5/4.25;

                    .card-body {
                        padding: 0 40px;

                        .card-title {
                            font-size: 18px;
                            padding-bottom: 10px;
                        }

                        .card-text {
                            line-height: 22px;
                            padding-bottom: 26px;
                        }

                        .all-btn {
                            font-size: 12.4px;
                        }
                    }

                    .card-footer {
                        span {
                            margin-right: 40px;
                            font-size: 4.7vw;

                            @media screen and (max-width:1366px) {
                                font-size: 50px;
                            }
                        }

                        img {
                            height: 90px;
                            width: auto;

                            @media screen and (max-width:1366px) {
                                height: 50px;
                            }
                        }
                    }
                }

            }
        }
    }

    &.swiper-wrapper {
        &.type1 {
            .card {
                width: 100%;
                height: 100%;
                overflow: hidden;
            }
        }
    }

    .card {
        .image-overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(15, 28, 68, 0.8);
            color: #ffffff;
            font-size: 43px;
            opacity: 0;
            visibility: hidden;
            overflow: hidden;
            transition: all .3s linear;

            .icon-right-arrow-1 {
                transform: rotate(-23deg) translate(-261px, 30px) scale(0) !important;
                opacity: 0;
                visibility: hidden;
                overflow: hidden;
                transition: all .3s linear;
            }
        }

        .all-btn {
            margin-left: 0;
        }

        @media screen and (min-width:992px) {
            &:hover {
                .image-overlay {
                    opacity: 1;
                    visibility: visible;
                    overflow: visible;

                    .icon-right-arrow-1 {
                        transform: rotate(-23deg) translate(0, 0) scale(1) !important;
                        opacity: 1;
                        overflow: visible;
                        visibility: visible;
                    }
                }
            }
        }
    }

    &.type1 {
        .card {
            a {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                background-color: #f2f2f2;
                transition: all .3s linear;
                aspect-ratio: 5/4.25;
                padding: 46px 0 0;

                @media screen and (max-width:640px) {
                    aspect-ratio: 5/3.65;
                    padding: 25px 0 0;
                    width: calc(100% - 30px);
                    margin: 0 auto;
                }

                @media screen and (min-width:992px) {
                    &:hover {
                        background-color: #0f1c44;

                        img {
                            filter: invert(1);
                        }

                        .card-title,
                        .card-text,
                        .all-btn {
                            color: #ffffff;
                        }

                        .all-btn {
                            span {
                                transform: translate(5px, -5px);
                            }

                            .icon-right-arrow-1 {
                                transform: rotate(-23deg) translate(5px, -5px) scale(1.1) !important;
                                color: #ffffff;

                            }
                        }

                        .card-footer {
                            span {
                                color: #ffffff;
                            }
                           
                        }
                    }
                }
            }

            .card-body {
                padding: 0 50px;
            }

            .card-title {
                font-weight: 500;
                font-size: 22px;
                color: #0f1c44;
                padding-bottom: 15px;

                @media screen and (max-width:991.98px) {
                    font-size: 18px;
                }

                @media screen and (max-width:480px) {
                    font-size: 14px;
                    padding-bottom: 10px;
                }
            }

            .card-text {
                font-weight: 300;
                font-size: 14px;
                color: #454545;
                letter-spacing: -0.1px;
                line-height: 27px;
                padding-bottom: 39px;

                @media screen and (max-width:991.98px) {
                    font-size: 12px;
                    line-height: 16px;
                    padding-bottom: 20px;
                }
            }

            .card-footer {
                text-align: right;

                span {
                    color: #0f1c44;
                    margin-right: 40px;
                    margin-bottom: 28px;
                    display: block;
                    font-size: 4.7vw;
                    @media screen and (max-width:1366px) {
                        font-size: 50px;
                    }
                    @media screen and (min-width:1921px) {
                        font-size: 90px;
                    }

                    &.icon-pedestrian {}

                }

                img {
                    // width: 5.7vw;
                    margin-right: 40px;
                    margin-bottom: 22px;
                    height: 90px;
                    width: auto;
                    @media screen and (max-width:1366px) {
                        height: 50px;
                    }
                    @media screen and (min-width:1921px) {
                        font-size: 90px;
                    }
                }
            }
        }
    }

    &.type2 {
        margin: -45px;

        @media screen and (max-width:1440px) {
            margin: -45px -15px;
        }

        @media screen and (max-width:640px) {
            flex-wrap: wrap;
            margin: -5px -15px;
        }

        .card {
            width: 33.33333%;
            padding: 45px;

            @media screen and (max-width:1440px) {
                padding: 45px 15px;
            }

            @media screen and (max-width:640px) {
                width: 100%;
                padding: 10px 15px;
            }

            a {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
            }

            .imageWrapper {
                aspect-ratio: 5/3;
            }

            .card-body {
                padding: 10px 0;
            }

            .card-text {
                p {
                    font-weight: 400;
                    font-size: 17px;
                    color: #0f1c44;
                    transition: all 0.3s linear;
                    padding: 6px 0;

                    @media screen and (max-width:1200px) {
                        font-size: 14px;
                    }
                }
            }

            .date {
                font-weight: 400;
                font-size: 13px;
                color: #707070;
                transition: all .3s linear;

                @media screen and (max-width:1200px) {
                    font-size: 11px;
                }
            }

            @media screen and (min-width:992px) {
                &:hover {

                    .date {
                        color: #ff4200;
                    }

                    .card-text {
                        p {
                            color: #ff4200;
                        }
                    }
                }
            }
        }

        &.makaleler {
            margin: -27px;

            .card {
                padding: 30px;

                @media screen and (max-width:1366px) {
                    width: 50%;
                }
                @media screen and (max-width:991.93px) {
                    padding:30px 30px 0;
                }
                @media screen and (max-width:640px) {
                    width: 100%;
                }

                .card-text {
                    p {
                        font-size: 15px;
                    }
                }
            }
        }

        &.d-block {
            padding-left: 6px;
            margin: 0 auto;

            .card {
                width: 100%;
                padding: 45px 0 0px;

                .card-body {
                    padding: 5px 0;

                    .card-text {
                        p {
                            font-size: 12.5px;
                        }
                    }
                }

                .imageWrapper {
                    aspect-ratio: 5/4;
                }
            }
        }

        &.teamlist {
            &+.teamlist {
                padding-top: 74px;
            }

            .card {
                width: 450px;

                @media screen and (max-width:1280px) {
                    width: 315px;
                }

                @media screen and (max-width:560px) {
                    margin: 0 auto;
                }

                a {
                    overflow: hidden;
                }

                .imageWrapper {
                    aspect-ratio: 5/6.3;
                    max-height: 450px;
                    overflow: hidden;

                    img {
                        transform: scale(1.1);
                        transition: all .3s linear;
                    }
                }

                .card-text {
                    display: flex;
                    flex-direction: column;

                    span {
                        &.name {
                            font-size: 18.2px;
                            font-weight: 500;
                            line-height: 18px;
                            padding-bottom: 10px;
                            color: #0f1c44;
                        }

                        &.titleTag {
                            font-size: 14px;
                        }
                    }
                }

                .card-body {
                    display: flex;
                    justify-content: space-between;
                }

                .icon-right-arrow-1 {
                    transform: rotate(-23deg) translateX(-50px) !important;
                    opacity: 0;
                    visibility: hidden;
                    overflow: hidden;
                }

                @media screen and (min-width:992px) {
                    a {

                        &:hover {
                            .icon-right-arrow-1 {
                                transform: rotate(-23deg) translateX(0) !important;
                                visibility: visible;
                                overflow: visible;
                                opacity: 1;
                            }

                            .imageWrapper {
                                img {
                                    transform: scale(1);
                                }
                            }

                            .card-text {
                                span {
                                    &.name {
                                        color: #ff4200;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}