header {
    height: 76px;
    transition: all .3s linear;
    position: absolute;
    width: 100%;
    @media screen and (max-width:991.98px ) {
        height: 60px;
        overflow: hidden;
    }

    .mobileHeader {
        @media screen and (max-width:991.98px) {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            padding-left: 40px;
            padding-right: 40px;
            position: relative;
            z-index: 9999;
            height: 60px;
            background-color: #ffffff;

            .logo {
                padding-top: 16px;
            }
            .language{
                position: absolute;
                right: 80px;
                height: auto;
                top: 8px;
                display: flex;
            }
        }
        @media screen and (max-width:360px) {
            padding-left: 16px;
            padding-right: 16px;
        }

        @media screen and (min-width:992px) {
            display: none;
        }
    }

    .navMenuButton {
        width: 28px;
        height: 22px;
        border-top: 2px solid #0f1c44;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        transition: all .3s linear;
        @media screen and (max-width:991.98px ) {
            margin-top: 7px;
        }

        &:before,
        &:after {
            content: "";
            width: 100%;
            height: 2px;
            background-color: #0f1c44;
            transition: all .3s linear;
        }

        &:before {
            top: 50%;
            transform: translateY(-50%);
            position: relative;
            margin-top: -8px;
        }

        &:after {
            bottom: 0;
            position: relative;
        }

        &.active {
            border-color: rgba(0, 0, 0, 0);

            &:before {
                transform: rotate(45deg) translateY(0);
                top: 7px;
            }

            &:after {
                transform: rotate(-45deg);
                top: 5px;
            }
        }
    }

    .header {
        @media screen and (max-width:991.98px) {
            position: fixed;
            width: 100vw;
            height: 100vh;
            // display: flex;
            // align-items: center;
            background: #ffffff;
            z-index: 999;
            top: 0;
            padding-top: 63px;
            left: 100%;
            opacity: 0;
            visibility: hidden;
            transition: all .3s linear;
            overflow: hidden;
            overflow-y: auto;
            padding-bottom: 30px;
            .logo {
                display: none;
            }
        }

        @media screen and (min-width:992px) {
            display: flex;
            align-items: center;
            height: 100%;
            justify-content: space-between;
        }

        nav {
            padding-left: 6%;
            flex: 1;

            @media screen and (max-width:1440px) {
                padding-left: 20px;
            }

            @media screen and (max-width:991.98px) {
                padding-left: 40px;
                padding-right: 40px;
                padding-bottom: 50px;
                text-align: left;
            }
            .menuItem{
                @media screen and (max-width:991.98px) {
                    padding:12px 0;
                    & + .menuItem{
                        border-top: 1px dotted #999999;
                    }
               
                }
                .menuLink{
                    padding-top: 13px;
                    @media screen and (max-width:991.98px) {
                        padding-top: 0;
                    }
                }
            }
        }

        nav,
        nav>ul,
        nav>ul>li {
            @media screen and (min-width:992px) {
                height: 100%;
            }

        }
    }


    .language {
        height: 100%;
        display: flex;
        align-items: center;
        padding-top: 13px;
        padding-right: 4px;

        @media screen and (max-width:991.98px) {
          display: none;
        }

        a {
            font-weight: 400;
            font-size: 13.3px;
            transition: all .3s linear;
            @media screen and (min-width:992px) {
                &:hover{
                    color:#ff4200;
                }
            }

            &+a {
                margin-left: 33px;

                &:before {
                    content: "|";
                    display: inline-block;
                    position: relative;
                    left: -18px;
                }
            }
        }
    }

    &.active {
        @media screen and (max-width:991.98px) {
            .header {
                left: 0;
                opacity: 1;
                visibility: visible;
            }
        }
    }
    &.fixed{
        position: fixed;
        top: 0;
        z-index: 99;
        background: #ffffff;
        width: 100%;
        box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    }
    .socialMediaWrapper{
        display: none;
        padding-left: 40px;
        & > span{
            display: inline-block;
            position: relative;
            font-size: 12px;

            &:after{
                content: "";
                width: 40%;
                height: 2px;
                background-color: #0f1c44;
                display: block;
            }
        }
        @media screen and (max-width:991.98px ) {
           display: block;
        }
        .socialMedia{
            display: flex;
            align-items: center;
            gap: 10px;
            margin-top: 20px;
        }
    }
}


.logo {
    text-align: right;

    span {
        font-family: "Cormorant Garamond", serif;
        font-weight: 700;
        color: #0f1c44;
        font-size: 34.5px;
        display: block;

        @media screen and (max-width:570px) {
            font-size: 22.5px;
        }

        &.small {
            font-size: 12.2px;
            position: relative;
            top: -18px;
            right: -1px;

            @media screen and (max-width:570px) {
                font-size: 8.2px;
                top: -12px;
            }

        }
    }
    &.light{
        span{
            color: #ffffff;
        }
    }
}