
.pageWrapper {
    padding-bottom: 150px;

    .pageContent {
        padding-left: 6.4vw;
        padding-right: 20vw;

        @media screen and (max-width:1280px) {
            padding-right: 6.4vw;
        }

        @media screen and (max-width:991.98px) {
            padding-right: 40px;
            padding-left: 40px;
        }

        @media screen and (max-width:360px) {
            padding-right: 16px;
            padding-left: 16px;
        }

        .cards {
            &.type1 {
                padding-top: 65px;
            }
        }


        .paragraph {
            padding-left: 2px;
            padding-top: 0;

            h5 {
                margin-top: 40px;

            }

            p {
                font-size: 16px;
                line-height: 30px;
                padding-top: 30px;

                @media screen and (max-width:991.98px) {
                    text-align: justify;
                    font-size: 12px;
                    line-height: 22px;
                    padding-top: 10px;
                }

                span {
                    color: #0f1c44;
                    font-weight: 500;
                    display: block;
                }
                b{
                    color: #0f1c44;
                    font-weight: 500;
                }
            }
        }

        h1 {
            font-size: 40px;
            line-height: 50px;
            @media screen and (max-width:991.98px) {
                font-size: 28px;
                line-height: 34px;
            }

            &.type2 {
                padding-top: 2.7vw;
            }
        }

        .teamContent {
            padding-top: 115px;
        }

        .teamDetailsWrapper {
            @media screen and (max-width:991.98px) {
                display: block;
            }
        }

        .teamImg {
            width: 31.5%;
            height: 100%;
            min-width: 31.5%;

            @media screen and (max-width:991.98px) {
                width: 280px;
                min-width: 280px;
                margin: 0 auto;
            }


            .imageWrapper {
                aspect-ratio: 6/7.42;
                overflow: hidden;
            }
        }

        .teamDetails {
            padding-left: 6.2vw;

            @media screen and (max-width:991.98px) {
                padding-left: 0;
                padding-top: 30px;
            }

            .paragraph {
                padding-right: 112px;
                padding-left: 0;
                padding-top: 19px;

                @media screen and (max-width:991.98px) {
                    padding-right: 0;
                }

                p {
                    font-size: 16px;

                    @media screen and (max-width:991.98px) {
                        text-align: justify;
                        font-size: 12px;
                        line-height: 22px;
                        padding-top: 10px;
                    }
                }
            }

            .socialMedia {
                display: flex;
                flex-direction: column;
                padding-top: 55px;
                padding-bottom: 40px;

                @media screen and (max-width:991.98px) {
                    padding-bottom: 0;

                }

                a {
                    display: flex;
                    align-items: center;
                    padding-bottom: 21px;

                    &.linkedin {
                        margin-left: -3px;
                    }

                    span {
                        padding-left: 39px;
                        font-size: 14px;

                        &.icon-email {
                            font-size: 25px;
                            padding-left: 0;
                        }

                        &.icon-linkedin-2 {
                            font-size: 32px;
                            padding-left: 0;
                        }
                    }
                }
            }

            .top {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;

                @media screen and (max-width:991.98px) {
                    justify-content: center;
                    text-align: center;
                }

                .backButton {
                    display: flex;

                    @media screen and (max-width:991.98px) {
                        display: none;
                    }
                }


                .titleColumn {
                    h1 {
                        font-size: 27px;
                        line-height: 10px;
                        padding-bottom: 16px;
                    }
                }

            }
        }

        &.type2 {
            @media screen and (min-width:992px) {
                padding-right: 6vw;
            }

            .paragraph {
                p {
                    font-size: 16.9px;
                    line-height: 35.1px;
                    margin-bottom: 34px;
                    padding-top: 0;
                    @media screen and (max-width:991.98px) {
                        font-size: 12px;
                        line-height: 22px;
                        padding-top: 10px;
                        margin-bottom: 10px;
                    }
                }
            }

            .shortText {
                padding-top: 34px;
                line-height: 35px;
                padding-bottom: 61px;
                @media screen and (max-width:991.98px) {
                    text-align: justify;
                    font-size: 16px;
                    line-height: 25px;
                    padding-bottom: 20px;
                }
            }

            .rightColumn {
                width: 348px;
                min-width: 348px;
                padding-top: 44px;
                @media screen and (max-width:991.98px) {
                    width: 100%;
                }

                .listWrapper {
                    .list {
                        padding-left: 32px;
                    }
                }
            }
        }

        &.d-flex {
            @media screen and (max-width:991.98px) {
                flex-direction: column;
            }
        }
    }

    .leftColumn {
        flex: 1;
        padding-top: 1.6vw;
        padding-right: 6vw;

        @media screen and (max-width:991.98px) {
            padding-right: 0;
        }
    }

    .rightColumn {
        width: 350px;
        min-width: 350px;
        padding-top: 2.5vw;

        @media screen and (max-width:991.98px) {
            margin: 0 auto;
            padding-top: 30px;
        }

        .fixTitle {
            padding-bottom: 50px;
            @media screen and (max-width:991.98px) {
               padding-bottom: 0;
            }
            h4 {
                text-transform: capitalize;
                font-size: 18px;
                line-height: 20px;
            }
        }

    }

    .shortText {
        padding-top: 40px;
        padding-bottom: 27px;
        font-family: "Cormorant Garamond", serif;
        font-weight: 600;
        font-size: 22px;
        color: #0f1c44;
    }

    .filterWrapper {
        display: flex;
        justify-content: space-between;
        padding: 55px 0;
        @media screen and (max-width:991.98px) {
            padding: 0 0 25px 0;

         }
        @media screen and (max-width:640px) {
            flex-direction: column;
        }

        .searchColumn {
            background-color: #f0efef;
            border: 1px solid #b8b8b8;
            padding: 0 5px 0 20px;
            height: 55px;
            min-width: 485px;
            display: flex;
            align-items: center;
            @media screen and (max-width:1366px) {
                min-width: 361px;
            }
            @media screen and (max-width:991.98px) {
                margin-bottom: 10px;
                font-size: 12px;
                height: 45px;
             }
            @media screen and (max-width:640px) {
               margin-bottom: 10px;
               min-width: initial;
               width: 100%;
            }

            input {
                background-color: transparent;
                width: 100%;
            }

            a {
                line-height: 0;
                font-size: 50px;
                opacity: 0.7;
            }
        }

        .filterSelect {
            background-color: #f0efef;
            border: 1px solid #b8b8b8;
            height: 55px;
            padding: 0 20px;
            min-width: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            @media screen and (max-width:1366px) {
                min-width: 188px;
            }
            @media screen and (max-width:991.98px) {
                height: 45px;
             }
            @media screen and (max-width:640px) {
                font-size: 12px;
                height: 45px;
             }
 

            select {
                background-color: transparent;
                width: 100%;
            }
        }
    }
}

/*Kurumsal Sayfa List*/
.degerlerContent {
    padding-top: 124px;

    @media screen and (max-width:991.98px) {
        padding-top: 30px;
    }

    .fixTitle {
        padding-left: 7px;
    }
}

.fixTitle {
    h4 {
        font-weight: 500;
        color: #0f1c44;
        font-size: 12px;
        border-left: 2px solid #ff4200;
        padding-left: 10px;
        line-height: 10px;
        margin: 0;
        text-transform: uppercase;
    }

    &.type2 {
        h4 {
            color: #ff4200;
            font-size: 20px;
            padding-left: 16px;
            line-height: 20px;
            @media screen  and (max-width:991.98px){
                font-size: 14px;
                padding-left: 10px;
                line-height: 15px;
            }
        }
    }
}

.otherSlide {
    padding-left: 6.4vw;
    padding-right: 6vw;
    padding-top: 12vw;
    padding-bottom: 8.8vw;

    .fixTitle {
        padding-bottom: 83px;
        padding-left: 5px;

        h4 {
            font-size: 25px;
            line-height: 20px;
            padding-left: 14px;
            text-transform: capitalize;
        }
    }
}


.degerlerList {
    padding: 43px 90px 116px 34px;

    @media screen and (max-width:991.98px) {
        padding: 20px 0 0 0;
    }

    .item {
        display: flex;
        align-items: flex-start;
        padding: 48px 0;

        @media screen and (max-width:991.98px) {
            padding: 20px 0 0 0;
        }

        .iconWrapper {
            width: 70px;
            min-width: 70px;
            max-width: 70px;
            display: flex;
            justify-content: center;
            padding-top: 47px;
            align-items: center;
            padding-right: 22px;
            margin-right: 20px;

            @media screen and (max-width:991.98px) {
                margin-right: 0;
                padding-right: 10px;
                width: 40px;
                min-width: 40px;
                max-width: 40px;
                padding-top: 43px;
            }
        }

        .icon {
            // margin-right: 42px;
            // margin-top: 50px;
            // filter: sepia(1) saturate(25.5);
        }

        .title {
            font-weight: 600;
            color: #0f1c44;
            font-size: 16px;
            text-transform: uppercase;
            @media screen and (max-width:991.98px) {
               font-size: 14px;
            }
        }

        p {
            font-weight: 400;
            font-size: 15px;
            line-height: 34px;
            color: #4f4f4f;
            padding-top: 15px;

            @media screen and (max-width:991.98px) {
                text-align: justify;
                font-size: 12px;
                line-height: 22px;
                padding-top: 10px;
            }
        }
    }
}

.listWrapper {
    padding-top: 93px;

    @media screen and (max-width:991.98px) {
        padding-top: 30px;

    }

    h4 {
        font-size: 15px;
        line-height: 14px;
        padding-left: 15px;
    }

    .list {
        list-style-type: disc;
        padding-left: 55px;
        padding-top: 32px;

        li {
            padding-bottom: 14px;

            &::marker {
                font-size: 10px;
                color: #ff4200;
            }
        }

        a {
            font-weight: 400;
            color: #454545;
            font-size: 14px;
            padding-left: 13px;
            transition: all .3s linear;

            @media screen and (min-width:992px) {
                &:hover {
                    color: #ff4200;
                }
            }
        }
    }
}