.homeSection {
    position: relative;

    .leftColumn {
        position: absolute;
        left: 0;
        display: flex;
        width: 6.718vw;
        flex-direction: column;
        align-items: flex-end;
        height: 100%;
        top: 0;
        bottom: 0;
        right: 0;
        justify-content: flex-end;
        padding-right: 35px;

        @media screen and (max-width:1200px) {
            padding-right: 0;
            align-items: center;
        }

        @media screen and (max-width:991.98px) {
            z-index: 99;
            width: 50px;
            padding-bottom: 10px;
        }

        @media screen and (min-width:1921px) {
            width: 120px;
        }

        .swiper-paginationCarousel {
            flex-direction: column;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            flex: 1;
            padding-top: 150px;
            width: auto;

            @media screen and (max-width:991.98px) {
                padding-top: 0;
            }
        }

        .slideSocialMedia {
            display: flex;
            flex-direction: column;

            @media screen and (max-width:991.98px) {
                display: none;
              }

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 22px;
                margin-top: 20px;

                span {
                    &:before {
                        transition: all .3s linear;
                    }
                }

                @media screen and (max-width:991.98px) {
                    margin-top: 10px;
                    // margin-top: 0;
                    // margin-left: 16px;
                    // span {
                    //     &:before {
                    //         color: #ffffff;
                    //     }
                    // }
                }

                @media screen and (min-width:992px) {
                    &:hover {
                        span {
                            transform: translateY(-5px);

                            &:before {
                                color: #ff4200;
                            }
                        }
                    }
                }
            }
        }
    }
}

section {
    overflow: hidden;
    width: 100%;

    &:not(.homeSection) {
        padding: 90px 0;

        @media screen and (max-width:1440px) {
            padding: 50px 0;
        }

        @media screen and (max-width:991.98px) {
            padding: 10px 0;
        }
    }

    .sectionHead {
        display: flex;
        align-items: center;
        padding-left: 1.5vw;
        margin-top: 17px;

        @media screen and (max-width:480px) {
            flex-wrap: wrap;
        }

        .sectionTitle {
            font-weight: 500;
            font-size: 25px;
            color: #0f1c44;
            border-left: 2px solid #ff4200;
            padding-left: 15px;
            display: inline-block;
            line-height: 20px;
            margin-top: 10px;
            margin-bottom: 10px;

            @media screen and (max-width:991.98px) {
                font-size: 18px;
            }

            @media screen and (max-width:480px) {
                font-size: 16px;
                line-height: 14px;
                width: 100%;
            }
        }

        .buttons {
            margin-left: auto;

            @media screen and (max-width:480px) {
                margin: 20px auto 0 auto;
            }
        }
    }

    .sectionContent {
        padding-left: 6.4vw;
        padding-right: 40px;

        @media screen and (max-width:991.98px) {
            padding-left: 40px;
            padding-right: 40px;

        }
        @media screen and (max-width:360px) {
            padding-right: 16px;

        }
    }

    &.calismaAlanlariSection {
        .sectionHead {
            @media screen and (max-width:991.98px) {
                padding-left: 26px;
                padding-right: 26px;
            }

        }

        .sectionContent {
            padding-left: 1.5vw;

            @media screen and (max-width:991.98px) {
                padding-left: 26px;
                padding-right: 26px;
            }

            @media screen and (max-width:480px) {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    &.guncelSection {
        .sectionHead {
            margin-top: 52px;

            @media screen and (max-width:991.98px) {
                padding-left: 26px;
                padding-right: 26px;
                margin-top: 0;
            }

            @media screen and (max-width:480px) {
                padding-left: 16px;
                padding-right: 16px;
            }
        }

        .sectionContent {
            padding-left: 2.5vw;

            @media screen and (max-width:991.98px) {
                padding-left: 26px;
                padding-right: 26px;
            }

            @media screen and (max-width:480px) {
                padding-left: 16px;
                padding-right: 16px;
            }
        }
    }

    &.acticleSection {
        height: 478px;
        padding: 36px 0 36px 26px;

        @media screen and (max-width:1280px) {
            height: 300px;
        }

        @media screen and (max-width:991.98px) {
            padding: 36px 26px 36px 26px;
        }

        @media screen and (max-width:480px) {
            height: 200px;
            padding: 16px;
        }

        &>div {
            height: 100%;

            &>div {
                height: 100%;
            }
        }

        .leftColumn {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 75%;
            padding-bottom: 4.6vw;
            padding-left: 4.1vw;

            @media screen and (max-width:991.98px) {
                padding-left: 10px;
                padding-bottom: 10px;
                width: 100%;
            }
        }

        .categoryName {
            font-weight: 400;
            color: #bebebe;
            font-size: 14.5px;

            @media screen and (max-width:1280px) {
                font-size: 11px;
            }

            @media screen and (max-width:991.98px) {
                font-size: 10px;
            }
        }

        .articleTitle {
            font-weight: 500;
            font-size: 28px;
            color: #ffffff;
            line-height: 31px;
            transition: all .3s linear;
            border-bottom: 1px solid rgb(0, 0,0,0);

            @media screen and (max-width:1280px) {
                font-size: 22px;
            }

            @media screen and (max-width:991.98px) {
                font-size: 16px;
                line-height: 18px;
            }

            @media screen and (max-width:991.98px) {
                font-size: 14px;
                line-height: 16px;
            }
        }

        .articleWrites {
            font-weight: 500;
            color: #ffffff;
            font-size: 14px;

            @media screen and (max-width:1280px) {
                font-size: 12px;
            }

            @media screen and (max-width:991.98px) {
                font-size: 10px;
            }
        }

        .all-btn {
            margin-left: 0;
        }

        .articleImages {
            height: 80%;
            aspect-ratio: 3/2;
            margin-left: auto;
            overflow: hidden;
            margin-right: 40px;

            @media screen and (max-width:991.98px) {
                margin-right: 10px;
                display: none;
            }

            .imageWrapper {
                display: block;
            }
        }

        @media screen and (min-width:992px) {
            &:hover {
                .articleTitle{
                    border-color: #ffffff;
                }
                .all-btn {
                    color: #ff4200;

                    span {
                        transform: translate(5px, -5px);
                    }

                    .icon-right-arrow-1 {
                        transform: rotate(-23deg) translate(5px, -5px) scale(1.1) !important;
                        color: #ff4200;

                    }
                }
            }
        }
    }

    &.teamSection {
        padding: 36px 0 36px 26px;

        @media screen and (max-width:991.98px) {
            padding: 36px 26px 36px 26px;
        }

        @media screen and (max-width:480px) {
            padding: 16px;
        }
    }

    .teamLogo {
        width: 350px;
        margin-left: 6.4vw;
        margin-top: 11px;

        @media screen and (max-width:991.98px) {
            margin-left: 10px;
            width: 150px;
        }
    }

    .teamContent {
        padding-left: 9.1vw;
        height: 233px;

        @media screen and (max-width:991.98px) {
            padding-left: 16px;
            height: 220px;
        }

        .title {
            font-weight: 600;
            font-size: 28px;
            color: #0f1c44;
            display: block;
            margin-bottom: 10px;

            @media screen and (max-width:1280px) {
                font-size: 22px;
            }

            @media screen and (max-width:991.98px) {
                font-size: 16px;
                padding-top: 20px;
            }

            @media screen and (max-width:480px) {
                font-size: 14px;
            }
        }

        p {
            font-weight: 400;
            font-size: 14px;
            color: #0f1c44;
            width: 77%;
            margin-bottom: 41px;
            margin-top: 11px;

            @media screen and (max-width:1280px) {
                font-size: 12px;
            }

            @media screen and (max-width:991.98px) {
                width: 100%;
                margin-bottom: 20px;
            }
        }
    }
}