.homeSection {
    position: relative;

    .leftColumn {
        position: absolute;
        left: 0;
        display: flex;
        width: 6.718vw;
        flex-direction: column;
        align-items: flex-end;
        height: 100%;
        top: 0;
        bottom: 0;
        right: 0;
        justify-content: flex-end;
        padding-right: 35px;

        @media screen and (max-width:1200px) {
            padding-right: 0;
            align-items: center;
        }

        @media screen and (max-width:991.98px) {
            height: 50px;
            width: 100%;
            bottom: 0;
            z-index: 99;
            top: auto;
            flex-direction: row;
            padding-right: 40px;
            padding-left: 40px;
        }

        @media screen and (min-width:1921px) {
            width: 120px;
        }

        .swiper-paginationCarousel {
            flex-direction: column;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            flex: 1;
            padding-top: 150px;
            width: auto;

            @media screen and (max-width:991.98px) {
                padding-top: 0;
                flex-direction: row;
                padding-left: 120px;
                bottom: 0 !important;
            }
        }

        .slideSocialMedia {
            display: flex;
            flex-direction: column;

            @media screen and (max-width:991.98px) {
                flex-direction: row;
                bottom: 0 !important;
            }

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 22px;
                margin-top: 20px;

                @media screen and (max-width:991.98px) {
                    margin-top: 0;
                    margin-left: 16px;

                    span {
                        &:before {
                            color: #ffffff;
                        }
                    }
                }
            }
        }
    }
}

section {
    overflow: hidden;
    width: 100%;

    &:not(.homeSection) {
        padding: 90px 0;
        @media screen and (max-width:1440px) {
             padding: 50px 0;
        }
    }

    .sectionHead {
        display: flex;
        align-items: center;
        padding-left: 1.5vw;
        margin-top: 17px;

        .sectionTitle {
            font-weight: 500;
            font-size: 25px;
            color: #0f1c44;
            border-left: 2px solid #ff4200;
            padding-left: 15px;
            display: inline-block;
            line-height: 20px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .buttons {
            margin-left: auto;
        }
    }

    .sectionContent {
        padding-left: 6.4vw;
    }

    &.calismaAlanlariSection {
        .sectionHead{
            @media screen  and (max-width:991.98px){
                padding-left: 26px;
                padding-right: 26px;
            }
        }
        .sectionContent {
            padding-left: 1.5vw;
            @media screen  and (max-width:991.98px){
                padding-left: 26px;
                padding-right: 26px;
            }
        }
    }

    &.guncelSection {
        .sectionHead {
            margin-top: 52px;
            @media screen  and (max-width:991.98px){
                padding-left: 26px;
                padding-right: 26px;
            }
        }

        .sectionContent {
            padding-left: 2.5vw;
            @media screen  and (max-width:991.98px){
                padding-left: 26px;
                padding-right: 26px;
            }
        }
    }

    &.acticleSection {
        height: 478px;
        padding: 36px 0 36px 26px;
        @media screen  and (max-width:1280px){
            height: 300px;
        }
        @media screen  and (max-width:991.98px){
            padding: 36px 26px 36px 26px;
        }
        &>div {
            height: 100%;

            &>div {
                height: 100%;
            }
        }

        .leftColumn {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 75%;
            padding-bottom: 4.6vw;
            padding-left: 4.1vw;
        }

        .categoryName {
            font-weight: 400;
            color: #bebebe;
            font-size: 14.5px;
            @media screen  and (max-width:1280px){
                font-size: 11px;
            }
        }

        .articleTitle {
            font-weight: 500;
            font-size: 28px;
            color: #ffffff;
            line-height: 31px;
            @media screen  and (max-width:1280px){
                font-size: 22px;
            }
        }

        .articleWrites {
            font-weight: 500;
            color: #ffffff;
            font-size: 14px;
            @media screen  and (max-width:1280px){
                font-size: 12px;
            }
        }

        .all-btn {
            margin-left: 0;
        }

        .articleImages {
            height: 80%;
            aspect-ratio: 3/2;
            margin-left: auto;
            overflow: hidden;
            margin-right: 40px;

            .imageWrapper {
                display: block;
            }
        }
    }

    &.teamSection {
        padding: 36px 0 36px 26px;
        @media screen  and (max-width:991.98px){
            padding: 36px 26px 36px 26px;
        }   
    }

    .teamLogo {
        width: 350px;
        margin-left: 6.4vw;
        margin-top: 11px;
    }

    .teamContent {
        padding-left: 9.1vw;
        height: 233px;

        .title {
            font-weight: 600;
            font-size: 28px;
            color: #0f1c44;
            display: block;
            margin-bottom: 10px;
            @media screen  and (max-width:1280px){
                font-size: 22px;
            }
        }

        p {
            font-weight: 400;
            font-size: 14px;
            color: #0f1c44;
            width: 77%;
            margin-bottom: 41px;
            margin-top: 11px;
            @media screen  and (max-width:1280px){
                font-size: 12px;
            }
        }
    }
}